---
import type { HTMLAttributes } from "astro/types";

import Card from "./Card.astro";
import { Button } from "./Button";

export interface Props extends HTMLAttributes<"div"> {
  title: string;
  web: string;
  framework: string;
  ui: string;
  components: string;
  database: string;
}

const { title, web, framework, ui, components, database, ...attrs } =
  Astro.props as Props;
---

<div {...attrs}>
  <Card>
    <h2 class="relative z-10 text-lg font-bold">{title}</h2>
    <ul class="relative z-10 flex flex-row gap-2 mb-4">
      <li class="text-sm text-default-900/50 lowercase">{web}</li>
      <li class="text-sm text-default-900/50 lowercase">{framework}</li>
      <li class="text-sm text-default-900/50 lowercase">{ui}</li>
      <li class="text-sm text-default-900/50 lowercase">{components}</li>
      <li class="text-sm text-default-900/50 lowercase">{database}</li>
    </ul>
    <slot />
  </Card>
</div>
